:root {
    --mandarin: #EF8354;
    --sealbrown: #4B1B07;
    --halogreen: #1F3320;
    --seagreen: #8CBA8F;
    --gunmetal: #213545;
    --airsupblue: #82A8C4;
    --cultured: #F5F5F5;
    --grayweb: #878788;
    --eerieblack: #19191A;
    --logoyellow: #ffcb05;
    --logoyellowshadow: #c7a008;
    --logoblue: #3B4CCA;
}

#currency {
    margin-top: 0.75em;
}

#criteriaContainer {
    width: 85%;
    margin-top: 1em;
    padding: 1em;
    border: 2px solid var(--logoyellow);
    border-radius: 5px;
    background: var(--logoblue);
}
.criteriaRow {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}
select {
    font-size: 85%;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid var(--logoyellowshadow);
    background: var(--logoyellowshadow);
}
/* @media only screen and (min-width: 992px) {
    .container
    .center {
        float: right;
    }

} */

